{% for message in app.flashes('notice') %}
    <div class="callout callout-info">
        <h5>Notice</h5>
        <div class="flash-notice">
            {{ message }}
        </div>
    </div>
{% endfor %}
{% for message in app.flashes('errors') %}
    <div class="callout callout-danger">
        <h5>Errors</h5>
        <div class="flash-notice">
            {{ message }}
        </div>
    </div>
{% endfor %}
{% for message in app.flashes('success') %}
    <div class="callout callout-success">
        <h5>Success</h5>
        <div class="flash-notice">
            {{ message }}
        </div>
    </div>
{% endfor %}